

<div class="input-group mb-3">
    <input id="ingredient-query" type="text" class="form-control" placeholder="Search Ingredients">
    <div class="input-group-append">
        <button id="ingredient-search" class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>


<div class="card px-3 py-3" style="max-height:400px; overflow-y:scroll;">
    <table id="ingredient-table" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>UPC</th>
                <th><button class="btn btn-sm btn-success">+</button></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
