<div id="home">

    <!-- Home Banner -->
    <section id="home-banner" class="container-fluid px-0 bg-light">
        <div class="container-fluid px-0">
            <div class="jumbotron">

                <h1 class="display-1">Recipe App</h1>
                <h2 class="display-4">Ruby on Rails</h2>
                <h3>Sign up to explore our Recipe Library and save your favorite recipes!</h3>

            </div>
        </div>
    </section>

</div>
